
<!DOCTYPE html>
<html>
<head>
   <title>Package Price</title>
</head>
<body>
   <h1>Your Package Info</h1>
   <p>The price is: <%= price %> <br><br>For <%=typeOfMail%> with a weight of <%=weight%> oz.</p>
</body>
</html>